<div class="mt-4 p-5 bg-secondary text-white rounded">
  <h1>MEVN Panele Hoşgeldiniz...</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
    reprehenderit itaque fugit natus delectus dolorem architecto repellat
    dolores quia ea.
  </p>
</div>
